#contenedor{
    background-color: rgb(247, 247, 247);
    border: 1px solid ;
    margin: 0% auto;
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: space-between;

}
#verde{
    background-color: green;
    display: flex;
    width: 100px;
    height: 100px;
    font-size: 30px;
    border: 1px solid black;
}
#Rojo{
     background-color: red;
     display: flex;
    width: 100px;
    height: 100px;
    font-size: 30px;
    border: 1px solid black; 
}

#azul{
    background-color: blue;
    display: flex;
    width: 100px;
    height: 100px;
    font-size: 30px;
    border: 1px solid black;
}
